<app-navigator></app-navigator>
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Username: {{username}}</mat-card-title>
      <mat-card-subtitle>Birth: {{birth}}</mat-card-subtitle>
    </mat-card-header>
    
    <mat-form-field>
        <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Description" [(ngModel)]="description" name="description" type="text">
    </mat-form-field>

    <mat-card-actions>
        <button mat-raised-button (click)="updateUserInfo()" color="primary">Update</button>   
    </mat-card-actions>
  </mat-card>
  