<div mat-dialog-content>
  <h1 mat-dialog-title> Create Topic </h1>
  <mat-form-field>
    <input matInput [(ngModel)]="title" placeholder="Title" name="title" required>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput [(ngModel)]="content" placeholder="Content" name="content" required></textarea>
  </mat-form-field>

  <mat-chip-list #chipList aria-label="tags">
    <mat-chip *ngFor="let tag of tags" [selectable]="selectable" [removable]="removable" (removed)="remove(tag)">
      {{tag}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input placeholder="New tag..." [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
    <button mat-button color="primary">
      <i align="left" class="material-icons" (matChipInputTokenEnd)="add($event)">
        add_circle_outline
      </i>
    </button>
  </mat-chip-list>





  <div *ngFor="let image of images">
    <mat-form-field class="example-full-width">
      <input [(ngModel)]="image" name="image" matInput placeholder="image's link">
    </mat-form-field>
    <button mat-raised-button (click)="deleteImageLink(image)" color="primary">Delete</button>
    <br>
  </div>
  <mat-form-field class="example-full-width">
    <input [(ngModel)]="imagelink" matInput placeholder="image's link">
  </mat-form-field>

  <button [disabled]="invalidImagelink()" mat-raised-button type="submit" (click)="addImagesLink()" color="primary">Add
    input</button>
  {{images|json}}
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">cancel</button>
  <button mat-raised-button type="submit" (click)="submit()" color="primary">Submit</button>

</div>
