<mat-toolbar class="page-header">
    <h1>Forum</h1>
</mat-toolbar>

<button mat-button [routerLink]="['/topics']">Topics</button>
<button *ngIf="userIsAuth && !userIsAdmin" mat-button [routerLink]="['/userinfo']">Profile</button>
<button *ngIf="userIsAdmin" mat-button [routerLink]="['/manage']">Manage</button>

<button *ngIf="!userIsAuth" mat-button [routerLink]="['/login']">Login</button>
<button *ngIf="!userIsAuth" mat-button [routerLink]="['/signup']">Signup</button>
<button *ngIf="userIsAuth" style="float: right;" mat-button (click)="logout()">logout</button>
