<p>topic-detail works!</p>

<h1>{{topicInfo.title}}</h1>
<p>{{topicInfo.author}}</p>
<p>{{topicInfo.timestamp|date:"medium"}}</p>


<button *ngIf="userIsAuth" mat-raised-button color="primary" (click)="open_createCommentDialog()">Create Comment</button>

<table mat-table [dataSource]="dataSource" matSort>


    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> author </th>
      <td mat-cell *matCellDef="let comment"> {{comment.author}} </td>
    </ng-container>
    <ng-container matColumnDef="info">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> info </th>
      <td mat-cell *matCellDef="let comment"> 
        {{comment|json}} 
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"  ></tr>
  
  
  </table>
  <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
  